<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
{{/*        {{ if .HasChildren }}*/}}
{{/*        <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">*/}}
{{/*            <span>{{ .Name }}</span>*/}}
{{/*            <ul class="sub-menu">*/}}
{{/*                {{ range .Children }}*/}}
{{/*                    ...*/}}
{{/*                    </li>*/}}
        {{ if .HasChildren }}
            <li class="menu-parent">
                <span>{{ .Name }}</span>
                <ul class="menu menu__inner sub-menu">
                    {{ range .Children }}
                        <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </li>
        {{ else }}
            <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
        {{ end }}
        {{- end }}
    </ul>
</nav>
