{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1><span style="color: #005354">cyberforged</span>.io /<span style="color: #005354">/ dev</span></h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
        </div>
    </main>
{{ end }}
