<div class="box-child">
    <div class="box-header">
        <img height="20px" src="{{.Get "img"}}" alt>
        <h3>{{.Get "title"}}</h3>
    </div>
    <div class="box-content">
    {{ .Inner  }}
    </div>
</div>
